<mat-card>
  <mat-card-content>
    <mat-form-field appearance="fill">
      <mat-label>Select an activity period</mat-label>
      <mat-select [(ngModel)]="period.type" placeholder="" (ngModelChange)="updateAfterChange()">
        <mat-option *ngFor="let type of plantEventTypes" [value]="type">
          {{type}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>First month of period</mat-label>
      <mat-select [(ngModel)]="period.startMonth">
        <mat-option *ngFor="let type of monthNames" [value]="type">
          {{type}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Last month of period</mat-label>
      <mat-select [(ngModel)]="period.endMonth">
        <mat-option *ngFor="let type of monthNames" [value]="type">
          {{type}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card-content>
</mat-card>
