<mat-accordion class="stocklist">
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false"
                       *ngFor="let item of stockList">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{item.name}}
      </mat-panel-title>
      <mat-panel-description>
        {{panelOpenState ? '' : item.latinName + " - " + item.brand}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>{{item.latinName}}</p>
    <p>{{item.description}}</p>
    <p>{{item.lightPreference}}</p>
    <ul>
      <li *ngFor="let period of item.periods">
        {{period.type}}, start: {{period.startMonth}}, end: {{period.endMonth}}
      </li>
    </ul>

    <aside class="stocklist__buttons">
      <button mat-flat-button color="primary" *ngIf="item.available">
        <mat-icon>add_circle_outline</mat-icon> Add to planner
      </button>
      <button mat-flat-button color="accent" *ngIf="item.available" (click)="archiveStock(item)">
        <mat-icon>inventory_2</mat-icon> Archive stock
      </button>
      <button mat-flat-button color="warn" (click)="deleteStockItem(item.id)">
        <mat-icon>delete_outline</mat-icon> Delete stock
      </button>
    </aside>

  </mat-expansion-panel>
</mat-accordion>
