<section class="gantt">
  <div class="chart">
    <div class="chart-row chart-period">
      <div class="chart-row-item"></div>
      <span *ngFor="let month of monthList">{{month}}</span>
    </div>

    <div class="chart-row chart-lines">
      <span *ngFor="let dummy of ' '.repeat(13).split(''), let x = index"
            class="{{x==currMonthNumber+1?'active':''}}"></span>
    </div>

    <div class="chart-row" *ngFor="let plant of plantList">

      <div class="chart-row-item">
        <p>{{plant.type.name}}</p>
        <button mat-icon-button (click)="handleDeleteButton(plant.id)">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-icon-button (click)="handleInfoButton(plant.id)">
          <mat-icon>info</mat-icon>
        </button>
      </div>

      <ul class="chart-row-bars">
        <li class="chart-li chart-li-DATE" [style.grid-column]="getColumnsBasedOnDate(plant.date)"
            matTooltip="Sown on {{plant.date | date}}">
          <span [style.width]="getPercentageOfMonth(plant.date)">
            &nbsp;
          </span>
        </li>
        <li *ngFor="let period of plant.type.periods"
            class="chart-li chart-li-{{period.type}}"
            [style.grid-column]="getColumnsBasedOnMonths(period.startMonth,period.endMonth)"
            matTooltip="{{period.type}}">
          &nbsp;
        </li>
      </ul>
    </div>
  </div>
</section>
