@import "../../_variables";

:host {
  display: flex;
  flex-direction: column;
  padding: $spacing-medium;
}

.periods {
  display: flex;
  flex-wrap: wrap;
  gap: $spacing-small;
  margin-bottom: $spacing-small;

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
  }

  & __add-button {
    flex-basis: 100%;
    margin: $spacing-small;
  }
}

.mat-expansion-panel-header {
  background-color: $color-amber!important;
  &.mat-expanded{
    margin-bottom: $spacing-medium;
  }
}

.mat-form-field {
  display: block !important;
}
